#header-nav{
	background: #E8EDF1;
	border: 2px solid #D9DEE2;
	border-radius: 0px;
}
.navbar-brand{
	color: #3C4043 !important;
	font-size: 220%;
	font-weight: 500;
}
#nav-list{
	background: #F5FAFE;
	margin: 0;
}
.navbar-default .navbar-nav>li>a{
color: #3C4043;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #32BAFF14;
	color: #187BFD;
	font-weight: 500;
}
#collapsable-nav{
padding: 0;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #3C4043;
}
.navbar-default .navbar-toggle{
	border-color: #3C4043;
}
.navbar-toggle .icon-bar+.icon-bar {
    margin-top: 6px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle:hover .icon-bar{
	background-color: #8ED0FF;
}
.navbar-default .navbar-toggle:hover{
	border-color: #8ED0FF;
}
.navbar-default .navbar-toggle:focus{
	border-color: #187BFD;
}
.navbar-default .navbar-toggle:focus .icon-bar{
	background-color: #187BFD;
}
.custom-bg{
	background: linear-gradient(225deg, #E7ECFF12.77%, #EBF8FF77.32%);
	margin-bottom: 24px;
	padding: 16px;
	border: 2px solid #D9DEE2;
	border-radius: 4px;
}
hr{
	padding:0;
	margin: 0;
	border-top: 1px solid #E8EDF1;
}
h2{
	margin-bottom: 24px;
}